@font-face {
    font-family: homa;
    src: url('Far.Homa.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: homa;
}

header {
    width: 100%;
    height: 40vw;
    background-image: url('images/background.jpg');
    background-position: bottom;
    background-size: cover;
}

