nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 8vw;
    /* border: 1px solid red; */
}

nav .title_container {

    text-align: center;
    line-height: 10px;
    cursor: pointer;

}

nav .title_container>* {}


nav .title_container h1 {
    font-size: 40px;
    font-weight: 900;

}

nav .title_container h2,
nav .title_container h2 span {
    font-family: monospace;
    letter-spacing: 5px;
    text-indent: -5px;
    text-transform: capitalize;

}

/* @keyframes title_anime {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes title_anime_2 {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */

nav span {
    color: var(--second-color);
}

nav .search_container {
    border: 1px solid rgb(133, 133, 133);
    border-radius: 20px;
    padding: 1px 12px;
}

nav .search_container input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

nav .search_container input::placeholder {
    color: white;
}

nav ul {
    list-style-type: none;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 100;
}

nav ul li:hover {
    border-bottom-color: var(--second-color);
}



nav a {
    text-decoration: none;
    color: white;
}

nav .nav_icons {
    cursor: pointer;
}

nav .nav_icons i {
    margin: 0 5px;
}

nav .nav_icons i:hover {
    color: var(--second-color);
}

nav .fa-bars {
    /* position: relative; */
    display: none;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

nav .fa-bars div {
    position: absolute;
    /* border: 1px solid red; */
}

.hide{
    display: none;
}

nav .fa-bars div a{
    background-color: rgb(166, 166, 166);
    color: var(--second-color);
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    transform: translateX(-200px);
    opacity: 0;
    transition: 0.3s;
}

nav .fa-bars:hover {
    color: var(--second-color);
}



@media screen and (max-width:950px) {
    nav {
        padding: 20px 5vw;
    }

    nav .fa-bars {
        display: block;
    }

    nav .nav_icons,
    nav>ul {
        display: none;
    }
}

@media screen and (max-width:500px) {
    nav {
        padding: 0;
        flex-direction: column-reverse;
    }

    nav>* {
        margin-bottom: 20px;
    }
}